@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to CollectiHaven</h1>
        <p class="lead">Discover a world of collectibles and unique items.</p>
    </div>
</div>
