@{
	ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emulair - Întrebări frecvente</title>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <style>
        h1[data-title] {
            padding-top: 7rem;
        }
    </style>
</head>
<body>
	<h1 data-title>EMULAIR</h1>

	<!-- Carousel Section -->

	<section class="carousel-section" aria-label="Game Photos">
		<div class="carousel" data-carousel>
			<button class="carousel-button prev" data-carousel-button="prev">&#8656</button>
			<button class="carousel-button next" data-carousel-button="next">&#8658;</button>

			<ul data-slides>
				<li class="slide" data-active><img src="images/mega-man-cover.jpeg"></img></li>
				<li class="slide"><img src="images/3-D Genesis.png"></img></li>
				<li class="slide"><img src="images/3-D Ghost Attack.png"></img></li>
				<li class="slide"><img src="images/3-D Havoc.png"></img></li>
				<li class="slide"><img src="images/3-D Tic-Tac-Toe.png"></img></li>
			</ul>
		</div>
	</section>

	<!-- Search Game Section-->

	<section class="flex-row-container search-game-section" aria-label="Description Text">
		<div class="flex-column-container left-div">
			<h2 data-first-row>Best Games</h2>
			<h2 data-second-row>That you can play</h2>
			<h2 data-third-row>Right Now</h2>
			<p data-paragraph>
				These are the best games that you can play.
				These are the best games that you can play.
				These are the best games that you can play.
				These are the best games that you can play.
				These are the best games that you can play.
				These are the best games that you can play.
			</p>
			<form>
				<input type="text" id="search-game" name="search game"/>
				<input type="submit" id="submit-searched-game" value="Search Game"/>
			</form>
		</div>
		<div class="photos-container right-div">
			<img src="images/3-D Genesis.png" data-first-photo></img>
			<img src="images/3-D Ghost Attack.png" data-second-photo></img>
		</div>
	</section>

	<!-- Testimonials -->

    <div class="testimonials">
        <div class="inner">
            <h1 id="header-testimonial">Testimonials</h1>
            <div class="border"></div>

            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <img src="~/images/p1.png" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="~/images/p2.png" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="~/images/p3.png" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="~/js/home.js"></script>
</body>
</html>
=======

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to CollectiHaven</h1>
        <p class="lead">Discover a world of collectibles and unique items.</p>
    </div>
</div>
>>>>>>> develop.edy
