@inject Emulair.Common.DTOs.CurrentUserDto CurrentUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emulair</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        body {
            min-height: 100vh;
        }
        /* nav css */
        nav {
            background-color: #A08C8A;
        }

        nav > ul {
            background-color: #A08C8A;
            z-index: 3;
            width: 70vw;
            position: fixed;
            left: 16%;
            display: flex;
            list-style: none;
            color: #EDE0DE;
            font-weight: 500;
            padding: 0;
        }

        nav > ul > li {
            transition: 200ms color, 200ms background-color;
            cursor: pointer;
        }

        nav > ul > li:hover {
            color: black;
            background-color: #EDE0DE;
        }

        nav > ul > li:hover > a {
            color: black;
            background-color: #EDE0DE;
        }

        nav > ul > li > a:hover {
            color: black;
            background-color: #EDE0DE;
        }

        nav > ul > li > a {
            display: inline-block;
            text-decoration: none;
            color: #D9D9D9;
            font-weight: 500;
            padding: 0.7rem 0.5rem;
        }


        /* footer css */

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px; /* Vertically center the text there */
        }

        body {
            padding: 0;
            margin: 0 !important;
        }

        footer > ul {
            display: flex;
            flex-direction: column;
            width: 100vw;
            list-style: none;
            background-color: #D9D9D9;
            color: black;
            margin: 0;
            padding-left: 5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        footer > ul > li {
            display: inline-block;
            width: 150px;
            height: 3rem;
            line-height: auto;
            transition: 200ms color, 200ms background-color;
        }
        
        footer > ul > li:hover {
            cursor: pointer;
            background-color: black;
            color: #D9D9D9;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a>About us</a></li>
                <li><a>Games</a></li>
                <li><a>Profile</a></li>
                <li><a asp-controller="News" asp-action="Index">News</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <ul>
            <li>Contacts</li>
            <li>More About us</li>
            <li>Map</li>
            <li>Games</li>
        </ul>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
