@inject Emulair.Common.DTOs.CurrentUserDto CurrentUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emulair</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Shared/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a>About us</a></li>
                <li><a>Games</a></li>
                <li><a>Profile</a></li>
                <li><a asp-controller="News" asp-action="Index">News</a></li>
                <li><a asp-controller="FAQ" asp-action="Index">FAQ</a></li>
                <li><a asp-controller="UserAccount" asp-action="Login">Login</a></li>
                <li><a asp-controller="UserAccount" asp-action="Register">Register</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <ul>
            <li>Contacts</li>
            <li>More About us</li>
            <li>Map</li>
            <li>Games</li>
        </ul>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
